[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
requests = {git = "git://github.com/georgestarcher/Splunk-Class-httpevent.git"}
config = "*"

[requires]
python_version = "2.7"
